<div class="container-fluid">
	<div class="row justify-content-between background">
		<div id="logo" 
    	class="col-md-auto ">
				<img src="assets/images/logo-nav.png"
				     srcset="assets/images/logo-nav@2x.png 2x,
				             assets/images/logo-nav@3x.png 3x"
				 class="img-responsive logo_nav">
		</div>
		<div id="pesquisa" class="col-md-auto">
				<form>
					<input type="text" name="busca" 
						[(ngModel)]="searchContent" (keyup)=buscar()>
					<img src="assets/images/ic-search-copy.png"
				     srcset="assets/images/ic-search-copy@2x.png 2x,
				             assets/images/ic-search-copy@3x.png 3x"
				     class="ic_search-copy">
				</form>
		</div>
	</div>

</div>

<div class="container-fluid _Home">
	<div *ngIf="this.isLoggedIn && this.listaEmpresas.length === 0 && !this.hasPerfomedSearch" class="row">
		<div class="col-md-4 offset-md-4">
			<div class="Clique-na-busca-para ">
				Clique na busca para iniciar.
			</div>
		</div>
	</div>
	<div *ngIf="this.isLoggedIn && this.listaEmpresas.length === 0 && this.hasPerfomedSearch" class="row">
		<div class="col-md-4 offset-md-4">
			<div class="Clique-na-busca-para ">
				Não foi possível encontrar resultados para a consulta fornecida.
			</div>
		</div>
	</div>
	<div *ngIf="!this.isLoggedIn" class="row">
		<div class="col-md-6 offset-md-3">
			<div class="Clique-na-busca-para ">
				<p>Usuario inválido. Por favor retorne para a tela de inicial e realize o login.</p>
				<button  class="btn btn-primary mx-auto" (click)="this.retornarParaPaginaLogin()">Voltar</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-12 align-self-center">
		<div *ngIf="!this.isDetailScreen">
			<div *ngFor="let empresa of listaEmpresas" class="row base" #enterprise id="{{empresa.id}}" (click)="this.mostrarDetalhes(enterprise.id)">
			<div class="col-md-6 align-self-center">
				<img class="img-fluid img_e1_lista" src="{{empresa.photo | noImage }}" alt="Sem photo">
			</div>
			<div class="col-md-4 offset-md-1 align-self-center">
				<p class="Empresa1">{{empresa.enterprise_name}}</p>
				<p class="Negcio">{{empresa.enterprise_type.enterprise_type_name}}</p>
				<p class="Brasil">{{empresa.country}}</p>
			</div>
			</div>
		</div>

		<div *ngIf="this.isDetailScreen" class="row base">
			<div class="col-md-6 align-self-center">
				<img class="img-fluid img_e1_lista" src="{{this.empresaDetalhes.photo}}">
			</div>
			<div class="col-md-4 offset-md-1 align-self-center">
				<p class="Empresa1">{{this.empresaDetalhes.enterprise_name}}</p>
				<p class="Detalhes">{{this.empresaDetalhes.description}}</p>
				<button class="btn btn-primary" style="color: black" (click)="esconderDetalhes()">Voltar</button>
			</div>

		</div>
	</div>
	</div>
</div>

