.background {
  background-image: linear-gradient(173deg, #ee4c77, #0d0430);
}
.logo_nav {
  width: 234.2px;
  height: 57px;
  object-fit: contain;
}
.ic_search-copy {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
._Home {
  background-color: #ebe9d7;
}
.Clique-na-busca-para {
  font-family: Roboto;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;
}
.Empresa1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49;
}
.Negcio {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
.Brasil {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
.base{
  border-radius: 4.7px;
  margin-top: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 2vh;
  background-color: #ffffff;
  padding: 4vh;
  max-width: 3840px;
}
.base * {
  background-color: #ffffff;
}
.base div[class=row]{
  margin-bottom: 10vh;
}
.img_e1_lista {

  object-fit: contain;
}
#pesquisa {
	float: right;
}
#pesquisa input{
	direction:RTL;
  color: white;
	background-color : transparent;
  border: none;
	width: 0px;
	opacity: 0;
	outline: none;
	-webkit-transition: width 1.5s ease-in-out;
	-moz-transition: width 1.5s ease-in-out;
  transition: width  0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

#pesquisa:hover input{
  width: 45vw;
	background-color : transparent;
	border-bottom : 3px solid #ffffff;;
	opacity: 1;
}
