.logo_home {
  display: block;
  object-fit: contain;
}
.BEM-VINDO-AO-EMPRESA {
  height: auto;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
}
.Lorem-ipsum-dolor-si {
  height: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
}
.E-mail {
  display: inline;
  width: 80%;
  height: 24px;
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #383743;
}
.Senha {
  display: inline;
  width: 80%;
  height: 24px;
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #383743;
}
.Rectangle-26 {
  width: 80%;
  border-radius: 3.6px;
  background-color: #57bbbc;
}
.ENTER {
  width: 70px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Page-1 {
  width: 15.6px;
  height: 11px;
  background-color: #ee4c77;
  background-color: var(--medium-pink);
  border: solid 0.7px #ee4c77;
  border: solid 0.7px var(--medium-pink);
}
.ic_email {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.ic_cadeado {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.Line {
  width: 100%;
  height: 1px;
  background-color: #383743;
  border: solid 0.2px #383743;
}
.form-group{
  text-align: center !important;
}
.container-fluid{
  display: inline !important;
  text-align: center !important;
  position: relative !important;

}
.margem{
  margin-top: 15vh;
}
.loader {
  border-radius: 3.6px;
  text-align: center;
  -webkit-animation: transformar 1s  ease-in-out infinite; /* Safari */
  animation: transformar 1s  ease-in-out infinite;
}

/* Safari */
@-webkit-keyframes transformar {
  from {background-color: #ebe9d7; color: white;}
  to {background-color: #57bbbc; color: white;}
}

@keyframes transformar {
  from {background-color: #ebe9d7; color: white;}
  to {background-color: #57bbbc; color: white;}
}