
<div class="container-fluid">
<div class="row align-items-center margem">
	<div class="col-md-6 offset-md-3 align-items-center ">
	<img src="assets/images/logo-home.png"
	srcset="assets/images/logo-home@2x.png 2x,img/logo-home@3x.png 3x"
	     class="logo_home img-responsive mx-auto" alt="Ioasys">
	<p class="BEM-VINDO-AO-EMPRESA">BEM-VINDO AO 
	EMPRESAS</p>
	<p class="Lorem-ipsum-dolor-si">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>

	<form #form="ngForm" (ngSubmit)="login(form)" class="form form-horizontal">
	<div class="form-group">
		<span>
		<img src="assets/images/ic-email.png"
		 srcset="assets/images/ic-email@2x.png 2x,
		         assets/images/ic-email@3x.png 3x"
		 class="ic_email" alt="">
		 
		<input class="E-mail form-control" type="text" placeholder="E-mail" required id="email" name="email" ngModel>
		</span>
		<hr class="Line">
	</div>
	<div class="form-group">
		<img src="assets/images/ic-cadeado.png"
		 srcset="assets/images/ic-cadeado@2x.png 2x,
		         assets/images/ic-cadeado@3x.png 3x"
		 class="ic_cadeado " alt="">
		<input class="Senha form-control" type="password" placeholder="Senha" required id="password" name="password" ngModel>
			<hr class="Line">
	</div>
	<div class="form-group">
		<button class="btn Rectangle-26"  id="submit" type="submit" >
			<span class="ENTER">Entrar</span>
		</button>
	</div>
	</form>
	<p *ngIf="loginFail" >Falha na tentativa de login. Verifique seu usuário e senha.</p>
	<p *ngIf="isTryingToLogin" class="loader">Logando...</p>
	</div>
</div>
</div>
